.gap1{
    width: 100%;
    min-height: 30vh;

    background-color: var(--color-primary);
    @include respond(phone) {
        min-height: 0;
         }
}
.gap2{
    width: 100%;
    min-height: 20vh;

    background-color: var(--color-primary);
    @include respond(phone) {
        min-height: 3vh;
         }
}