// :root{
//     --color-primary: #05213A;
//     --color-primary-white: #fff;
//     --color-secondary: #C69C6E;
//     --color-secondary-text: #924C00;
//     --color-secondary-text-white: #ffffff;
//     --box-shadow:2px 2px 20px 1px rgba(	198, 156, 110, 0.3);
// }


// * {
//     margin: 0;
//     padding: 0;
//   }
//   *,
//   *::after,
//   *::before {
//     box-sizing: inherit;
//     font-size: 62.5%; // 1rem = 10px
//   }
//   html {
//     box-sizing: border-box;
//   }
//   body{
//     width: 100vw;
//     overflow-x: hidden;
//   }

  .b{
    width: 100vw;
    min-height: 100vh;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    h1{
        font-size: 3rem;
    }
}

.fixed{
    width: inherit;
    min-height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--color-primary);
    position: fixed;
    overflow: hidden;
    display: flex;
    @include respond(tab-port){
        // overflow: scroll;
        display: block;
    }

}
.image-container{
    width: 50vw;
    min-height: 50vh;
    // background-color: #C69C6E;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    @include respond(tab-port){
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        min-height: 100vh;
        overflow: hidden;
        // margin-top: -100%;
        z-index: -5;
    }
    &__main{
        width: 100%;
        height: 50vh;
        // background-color: yellow;
        position: relative;
    }
    &__img-box{
        width: 45%;
        height: 55vh;
        // background-color: #09327e;
        position: absolute;
        top: -120%;
        left:-50% ;
        outline: 5px solid var(--color-secondary);
        // right: 0;
        // transform: translateX(15px);
        background-size: cover;
    }
 

}

#imgbox1{
    background-image: url('../inside-kerala/munnar.webp');

}
#imgbox2{
    background-image: url('../inside-kerala/allepy.webp');

}
#imgbox3{
    background-image: url('../inside-kerala/kumarakam.webp');
}
#imgbox4{
    background-image: url('../inside-kerala/thekkady.webp');
}
#imgbox5{
    background-image: url('../inside-kerala/kovalam.webp');
}
#imgbox6{
    background-image: url('../inside-kerala/trivandrum.webp');
}
#imgbox7{
    background-image: url('../inside-kerala/ekm.webp');
}
.text-container{
    width: 50vw;
    min-height: 50vh;
    // background-color: #eb5edf;
    display: flex;
    align-items: flex-end;
    //  opacity: 0;
    @include respond(tab-port){
        width: 100vw;
        height: 100vh;
      
     
    }
    &__frame{
        width: 100%;
        height: 70%;
        // background-color: #924C00;
        overflow: hidden;
        @include respond(tab-port){
            width: 100vw;
            height: 100vh;
            z-index:10;
           
         
        }
    }
    &__main-box{
        width: 100%;
        min-height: 100%;
        // background-color:wheat;
        // overflow-x: hidden;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        @include respond(tab-port){
            width: 100vw;
            // margin: 10rem;
            // align-items: flex-start;
            // margin-left: -100px;
            align-items: flex-end;
          
         
            
         }
        
        &__sub{
            min-width: 100%;
            min-height: 10%;
            // margin-right: 20px;
           
            padding: 10px 30px 0 30px;
            text-align: center;
            color: var(--color-secondary);
            position: relative;
            @include respond(tab-port){
            //    padding: 10rem;
               margin-bottom: 10rem;
            }
            h2{
                text-transform: capitalize;
                background-color: rgba(5,33,58,.9);
                font-size: 4rem;
            }
            p{
                background-color: rgba(5,33,58,.9);
                font-size: 2rem;
            }
        }
    }
}
.scroll-circle-container{
    width: 150px;
    height: 150px;
    position: fixed;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%,40%);
    // background-color: green;
    @include respond(tab-port){
        width: 100px;
        height: 100px;
        // bottom: 50px;
        }
}
.scroll-circle{
    width: inherit;
    height: inherit;
    // width: 150px;
    // height: 150px;
    // position: fixed;
    // bottom: 10%;
    // left: 50%;
    // transform: translate(-50%,40%);
    // transform-origin: 50% 50%;
    // background-color: red;
    img{
        width: 100%;
        height: 100%;
    }
    // @include respond(tab-port){
    //     width: 100px;
    //     height: 100px;
    //     bottom: 50px;
    //     }
}
.fixed-container{
    width: 100%;
   
}